html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
#navbar{
    text-align: center;
    position:fixed ;
    width: 100vw;
    z-index: 100;
}

.page__menu{
  width: 100vw;
  height: 60px;
  position: fixed;
  display: flex;
  background-color: #e6e6e6;

}

.menu__list{
  display: inline-block;
  width: 100vw;
  text-align: left;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.menu__group{
  display: inline-block;
  margin: 0 0 0 50px;
  position: relative;
}

.menu__group a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.dropbtn {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border: none;
  background-color: #e6e6e6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #cfcfcf;
  min-width: 160px;
  z-index: 1;
  border: black 3px solid;
  border:none;
}

.dropdown_content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  width: 400px;
  font-size: 20px;
}

.dropdown_content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown_content {
  display: block;
}

